alias vim="mvim -v";
alias ls="ls -G";
alias gitk="git log --since='5 day ago' --pretty=format:'%Cred%h%Creset %C(cyan)%an%Creset -%C(blue)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative --graph";
alias ..="cd .."
alias ..2="cd ../.."
alias ..3="cd ../../.."
alias ..4="cd ../../../.."
alias ..5="cd ../../../../.."
alias gs="git status"
alias gpo="git push origin master:master develop:develop --tags"
alias phplog="grc tail -f /Applications/MAMP/logs/php_error.log"
alias mysqllog="grc tail -f /Applications/MAMP/logs/mysql_error_log.err"
alias fuck='eval $(thefuck $(fc -ln -1)); history -r'
